* {

}

.header {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.logo {
  align-items: center;
  color: MediumAquamarine;
  display: flex;
  flex-grow: 1;
  margin-left: 60px;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
}

nav span a {
  color: black;
  padding: 20px 10px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

.main p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Large Column Headlines */

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main-image {
  background: url("../images/img-story-main.png") no-repeat center center;
  height: 300px;
  width: 624px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.stories {
  display: flex;
  justify-content: space-between;
}


.orca {
  width: 300px;
}

.earth {
  background: url("../images/img-story-2.png") repeat left center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.burger {
  width: 300px;
}

.cameras {
  background: url("../images/hipster.png") repeat left center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/* Medium Column Headlines */
.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.catshead {
  background: url("../images/img-story-1.png") no-repeat center center;
  height: 300px;
  width: 256px;
  margin: 0 auto;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.newsbites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

.newsbites .bites {
  background-color: WhiteSmoke;
  border-bottom: 1px solid black;
  color: DimGray;
  display: block;
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  padding: 11px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  height: 250px;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
}

.copylinks {
  display: flex;
  align-items: center;
}

.footer h4 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.footer a {
  color: black;
  padding: 15px;
}

.copyright {
  display: block;
}
